#navbarNav a, #footer {
    color: white !important;
}

#navbarNav a:hover, #footer a:hover {
    color: black !important;
}

#navbar, #footer {
    background: rgb(215, 102, 151) !important;
    background: linear-gradient(267deg, rgba(215, 102, 151, 1) 0%, rgba(148, 187, 233, 1) 100%) !important;
}

#homeFilter {
    box-shadow: 0px 0px 2px 1px rgba(0, 0, 0, 0.1);
}

#homeFilter div {
    display: inline-block;
    position: relative;
}

#homeFilter div:hover {
    cursor: pointer;
}

#homeFilter div:after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: black;
    transform-origin: bottom left;
    transition: transform 0.4s ease-in-out;
}

#homeFilter div:hover:after {
    transform: scaleX(1);
    transform-origin: bottom left;
}

#homeAbout h3, #homeContact h3, #homeProduct h3 {
    display: inline-block;
    position: relative;
}

#homeAbout h3:after, #homeContact h3:after, #homeProduct h3:after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(1);
    height: 5px;
    top: 200%;
    left: 0;
    background-color: midnightblue;
    transform-origin: bottom left;
}

#homeAboutImg {
    transform: scale(1);
    transition: .2s ease-in-out;
}

#homeProduct img {
    transform: scale(1);
    transition: .2s ease-in-out;
}

#homeAboutImg:hover {
    transform: scale(1.1);
}

#homeProduct img:hover {
    transform: scale(0.9);
    transition: .2s ease-in-out;
}

@media (max-width: 575.98px) {
    #homeAboutContent {
        flex-direction: column;
    }

    #homeAboutContent div {
        width: 100% !important;
        padding-right: 0% !important;
    }

    #homeAboutContent1 {
        margin-bottom: 5% !important;
    }

    #homeAboutContent2 h5 {
        text-align: left;
        font-size: small !important;
    }
}

@media (min-width: 576px) and (max-width: 767.98px) {
    #homeAboutContent {
        flex-direction: column;
    }

    #homeAboutContent div {
        width: 100% !important;
        padding-right: 0% !important;
    }

    #homeAboutContent1 {
        margin-bottom: 5% !important;
    }
}

@media (min-width: 768px) and (max-width: 991.98px) {}

@media (min-width: 992px) and (max-width: 1199.98px) {}

@media (min-width: 1200px) {}