.summary,
.itm {
    display: inline-flex;
    display: flex;

}

.titles h3 {
    margin-inline: 5%;

}

h6 {
    margin-inline: 9%;
}

.items {
    margin-right: 12%;
}

li {
    list-style: none;
}